/* You can add global styles to this file, and also import other style files */
html {
  background-color: #cccccc;
  background-image: url("background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
